.App {
  text-align: center;
  background-color: #eae0e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #5c5757;
}

.App-logo {
  width: 100px;
  height: 100px;
  margin-top: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Search-input {
  position: relative;
  background: #eae0e0;
  box-shadow: inset 5px -5px 10px #d3caca,
            inset -5px 5px 10px #fff6f6;
  height: 30px;
  width: 250px;
  padding: 10px;
  border-radius: 45px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.5rem;
  transition: 0.7s ease;
  color: rgb(69, 69, 69);
}

.Search-icon {
  position: fixed;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-80%, 0%);
  z-index: 1;
  background: #eae0e0;
  box-shadow: inset 5px -5px 10px #d3caca,
            inset -5px 5px 10px #fff6f6;

}

.Search-icon:hover {
  background: linear-gradient(145deg, #d3caca, #faf0f0);
  box-shadow:  5px 5px 6px #ded5d5,
             -5px -5px 6px #f6ebeb;
}


.card-body:hover {
  box-shadow: inset 5px -5px 10px #d3caca,
            inset -5px 5px 10px #fff6f6;
}

.card-body {
  width: 300px;
  position: relative;
  padding: 10px;
  border-radius: 30px;
  background: #eae0e0;
  box-shadow:  17px 17px 34px #ded5d5,
             -17px -17px 34px #f6ebeb;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #5c5757;
}

h3 {
  color: #5c5757;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  margin: 10px;
}

.card-body h3 {
  box-shadow:  5px -5px 10px #d3caca,
  -5px 5px 10px #fff6f6;
  border-radius: 30px;
  width: auto;
}

.card-body h3:hover {
  background: #eae0e0;
  box-shadow: inset 6px 6px 5px #dad0d0,
            inset -6px -6px 5px #faf0f0;
}

.card-body img{
  width: 50%;
  border-radius: 50%;
  background: #eae0e0;
  box-shadow: inset 17px -17px 34px #ded5d5,
            inset -17px 17px 34px #f6ebeb;
}

.card-body img:hover {
  background: #eae0e0;
  box-shadow: inset 5px 5px 5px #ded5d5,
              inset -5px -5px 5px #f6ebeb;
}

.card-body p {
  box-sizing: border-box;
  color: #5c5757;
  padding: 5px;
  font-size: 1rem;
  margin: 2px;
  font-weight: bold;
  text-align: left;
}

.progress {
  background-color: #cbcbcb;
  border-radius: 20px;
  position: relative;
  height: 20px;
  width: 250px;
  margin-top: 10px;
  font-size: 1rem;
}

.progress-done {
  background: linear-gradient(to left, #ded5d5,#ded5d5);
  box-shadow:  5px -5px 10px #d3caca,
             -5px 5px 10px #fff6f6;
  border-radius: 10px;
  color: #5c5757;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; 
  height:100%;
  width: 0; 
  transition: 1s ease; 
}